@using Microsoft.AspNet.Identity
@model IEnumerable<Campsite.Models.Inventory.InventoryListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.InventoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Condition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Condition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAvailable)
        </td>
    @if (item.UserId == Guid.Parse(User.Identity.GetUserId()))
    {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.InventoryId }) |
            @Html.ActionLink("Details", "Details", new { id = item.InventoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.InventoryId }) |
            @Html.ActionLink("Set up Responses", "ItemRequest", new { id = item.InventoryId })
        </td>
    }
    else
    {
        <td>
            @Html.ActionLink("Request", "ItemRequest", new {id = item.InventoryId})
        </td>
    }
    </tr>
}

</table>
